<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>erCodeScan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E778AC981BFC713100BD0002</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E778ACB11BFC713100BD0002</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E778ACBC1BFC713200BD0002</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
